body {
    background-color: #111;
    color: #ddd;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

table {
    width: 100%;
    background: #1e1e1e;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #333;
    text-align: left;
}

.status-online {
    color: #18d618;
    font-weight: bold;
}

.status-offline {
    color: #e33;
    font-weight: bold;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    background: #444;
    color: #fff;
    border: none;
}

input {
    background: #222;
    color: #fff;
    padding: 8px;
    border: 1px solid #555;
    width: 300px;
}

.status-box {
    background: #222;
    padding: 10px;
    width: fit-content;
    border-left: 5px solid #18d618;
    margin-bottom: 20px;
}
